{{ define "header" }}
		<!DOCTYPE html>
		<html lang = 'en'>
		<head>
		<title>Jonah Carpenter Spring 2023</title>
		  <meta charset="utf-8">
				
			<link rel="stylesheet" href="/home/jgcarpe2/static/css/normalize.css">
			<link rel="stylesheet" href="/home/jgcarpe2/static/css/foundation.css">

			<script src="/home/jgcarpe2/static/js/vendor/modernizr.js"></script>
		</head>
		<body>
		<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar data-options="sticky_on: large">
		<ul class="title-area">
		<li class="name">
		  <h5 align="left"><a href="/home/jgcarpe2/"><font color="white">Jonah Carpenter Spring 2022</font></a></54>
		</li>
		</ul>
		</nav>
		</div> 
{{ end }}
